<div class="app-wrapper">
  <div class="left-section">
    <div class="left-section__navbar">
      <app-navbar></app-navbar>
    </div>
    <div class="left-section__wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="right-section">
    <app-language-selection></app-language-selection>
    <span class="right-section__margin"></span>
    <div class="right-section__background">
      <div class="right-section__background__img-holder">
        <img src="./assets/images/photo.jpeg" alt="">
      </div>
    </div>
  </div>
</div>