@font-face {
  font-family: 'Roboto';
  src: url('src/fonts/Roboto-Regular.ttf') format('trueType');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/fonts/Roboto-Italic.ttf') format('trueType');
  font-style: italic;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('src/fonts/Roboto-Black.ttf') format('trueType');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('src/fonts/Roboto-BlackItalic.ttf') format('trueType');
  font-style: italic;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('src/fonts/Roboto-Light.ttf') format('trueType');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('src/fonts/Roboto-LightItalic.ttf') format('trueType');
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('src/fonts/Roboto-Medium.ttf') format('trueType');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('src/fonts/Roboto-MediumItalic.ttf') format('trueType');
  font-style: italic;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('src/fonts/Roboto-Bold.ttf') format('trueType');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('src/fonts/Roboto-BoldItalic.ttf') format('trueType');
  font-style: italic;
}

@font-face {
  font-family: 'RobotoThin';
  src: url('src/fonts/Roboto-Thin.ttf') format('trueType');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoThin';
  src: url('src/fonts/Roboto-ThinItalic.ttf') format('trueType');
  font-style: italic;
}


